@import url(http://meyerweb.com/eric/tools/css/reset/reset.css);


@import url(http://jangdan.github.io/css/overlay.css);

@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);


canvas {

	width: 100%;
	height: 100%;

	display: block;


}






body {

	font-size: 16px;

	line-height: 2em;


	font-family: "Courier New", Monospace;
	font-weight: 100;

}




span.underline {

	text-decoration: underline;

}

span.roundedborder {

	padding-left: 3px;
	padding-right: 3px;

	border: 1px;
	border-color: #FFF;
	border-style: solid;

	border-radius: 3px;

}



/*
button {

	padding: 0;
	margin: 0;

	padding-left: 3px;
	padding-right: 3px;


	font-size: 16px;


	text-align: center;


	font-family: "Courier New", Monospace;
	font-weight: 100;

	color: #FFF;


	background: none;


	border: 1px;
	border-color: #FFF;
	border-style: solid;

	border-radius: 3px;

}
*/


:lang(ko){

	font-family: "Noto Sans KR", "Noto Sans TC";
	font-weight: 100;

}




.crt {

	background: transparent url("crt.png") !important;

}



#menu {

	width: 100%;
	height: 100%;


	background-color: rgba(68, 68, 68, 0.4);


	text-align: center;


	color: #FFF;

}




h1 {

	font-size: 64px;
	
	padding: 1em;

	margin-top: 1em;

}

h2 {

	padding: 1em;
	
	font-size: 20px;

}


ruby rp {

	display: none;

}




p {
	
	padding: 1em;

}